<div class="container">

  <div class="input-section">
    <input type="text" id="coconut-input" class="coconut-input" placeholder="Adicione um coconut" />
    <button type="button" id="add-coconut-button" class="add-coconut-button">ADICIONAR COCOA PUFF</button>
  </div>

  <div class="coconut-container">

  </div>
</div>

