<div class="container mt-5">
  <div class="input-section">
    <!-- Input field estilizado com Bootstrap -->
    <input type="text" id="coconut-input" class="form-control" placeholder="Adicione um cocoa puff" />

    <!-- Botão estilizado com Bootstrap -->
    <button type="button" id="add-coconut-button" class="btn btn-primary mt-2">ADICIONAR COCOA PUFF</button>
  </div>

  <div class="coconut-container mt-4">
    <!-- Container para exibir os "coconuts", você pode adicionar os elementos dinamicamente aqui -->
  </div>
</div>


